.main-accordian-always-open::after {
    background-image: none !important;
}

@media print {
    .print-hide {
        display: none !important;
    }
    .print-no-border {
        border: none !important;
    }
    .print-bold {
        font-weight: bold;
    }
    .pagebreak {
        page-break-before: always;
    }
    .no-pagebreak {
        page-break-inside: avoid;
    }
    .collapse:not(.show) {
        display: block !important;
    }
    .accordion-button:not(.collapsed) {
        color: unset !important;
        background-color: unset !important;
        box-shadow: none !important;
    }
    .p-5 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .container {
        max-width: unset;
    }
    .accordion-button::after {
        display: none !important;
    }
    a {
        color: unset !important;
        text-decoration: none !important;
    }
}
@media screen {
    .screen-hide {
        display: none !important;
    }
}